/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #e8efff; /* Light navy background */
  --global-code-bg-color: #e2ecf6; /* Subtle light navy for code blocks */
  --global-text-color: #001f3f; /* Dark navy for main text */
  --global-text-color-light: #506680; /* Muted navy for secondary text */
  --global-theme-color: #003366; /* Classic navy blue theme color */
  --global-hover-color: #004080; /* Slightly brighter navy for hover effects */
  --global-footer-bg-color: #001f3f; /* Dark navy footer */
  --global-footer-text-color: #cfd8e3; /* Light blue text for footer */
  --global-footer-link-color: #f0f4fa; /* Lighter navy links in footer */
  --global-distill-app-color: #506680; /* Muted navy for UI elements */
  --global-divider-color: rgba(
    0,
    31,
    63,
    0.1
  ); /* Transparent dark navy divider */
  --global-card-bg-color: #f0f4fa; /* Light navy for cards */

  .fa-sun {
    display: none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #001f3f; /* Dark navy background */
  --global-code-bg-color: #002a5c; /* Slightly lighter navy for code blocks */
  --global-text-color: #cfd8e3; /* Light blue for main text */
  --global-text-color-light: #a1b5cf; /* Muted light blue for secondary text */
  --global-theme-color: #00509e; /* Bright navy blue theme color */
  --global-hover-color: #337ab7; /* Vibrant navy for hover effects */
  --global-footer-bg-color: #003366; /* Classic navy footer */
  --global-footer-text-color: #f0f4fa; /* Light blue text for footer */
  --global-footer-link-color: #cfd8e3; /* Muted blue links in footer */
  --global-distill-app-color: #a1b5cf; /* Muted light blue for UI elements */
  --global-divider-color: #334e68; /* Darker navy divider */
  --global-card-bg-color: #002a5c; /* Slightly lighter navy for cards */

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
  .fa-moon {
    display: none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
